@Master['admin/admin-layout']

@Section['Content']
  <form action='/post/@Model.Post.Id/edit' method="post">
    @AntiForgeryToken
    <div class="row">
      <div class="col-sm-9">
        <div class="form-group">
          <label class="control-label" for="Title">@Translate.Title</label>
          <input type="text" name="Title" id="Title" class="form-control" value="@Model.Form.Title" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Permalink">@Translate.Permalink</label>
          <input type="text" name="Permalink" id="Permalink" class="form-control" value="@Model.Form.Permalink" />
          <!-- // FIXME: hard-coded "http" -->
          <p class="form-hint"><em>@Translate.startingWith</em> http://@Model.webLog.urlBase/ </p>
        </div>
        <!-- // TODO: Markdown / HTML choice -->
        <div class="form-group">
          <textarea name="Text" id="Text" rows="15">@Model.Form.Text</textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="Tags">@Translate.Tags</label>
          <input type="text" name="Tags" id="Tags" class="form-control" value="@Model.Form.Tags" />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">@Translate.PostDetails</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label">@Translate.PostStatus</label>
              <p class="static-control">@Model.Post.Status</p>
            </div>
            @If.IsPublished
              <div class="form-group">
                <label class="control-label">@Translate.PublishedDate</label>
                <p class="static-control">@Model.PublishedDate<br />@Model.PublishedTime</p>
              </div>
            @EndIf
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">@Translate.Categories</h4>
          </div>
          <div class="panel-body" style="max-height:350px;overflow:scroll;">
            <!-- // TODO: how to check the ones that are already selected? -->
            @Each.Categories
              <!-- - var tab = 0
              while tab < item.indent
                | &nbsp; &nbsp;
                - tab++
              - var attributes = {}
              if -1 < currentCategories.indexOf(item.category.id)
                - attributes.checked = 'checked' -->
              <input type="checkbox" id="Category-@Current.Item1" name="Category", value="@Current.Item1" />
              &nbsp;
              <!-- // FIXME: the title should be the category description -->
              <label for="Category-@Current.Item1" title="@Current.Item2">@Current.Item2</label>
              <br/>
            @EndEach
          </div>
        </div>
        <div class="text-center">
          @If.IsPublished
            <input type="hidden" name="PublishNow" value="true" />
          @EndIf
          @IfNot.IsPublished
            <div>
              <input type="checkbox" name="PublishNow" id="PublishNow" value="true" checked="checked" />
              &nbsp; <label for="PublishNow">@Translate.PublishThisPost</label>
            </div>
          @EndIf
          <p>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-floppy-o"></i> &nbsp; @Translate.Save
            </button>
          </p>
        </div>
      </div>
    </div>
  </form>
@EndSection

@Section['Scripts']
  <script type="text/javascript" src="/content/scripts/tinymce-init.js"></script>
  <script type="text/javascript">
    /** <![CDATA[ */
    $(document).ready(function () { $("#Title").focus() })
    /** ]]> */
  </script>
@EndSection
