@Master['admin/admin-layout']

@Section['Content']
  <div class="row">
    <p>
      <a class="btn btn-primary" href="/post/new/edit">
        <i class="fa fa-plus"></i> &nbsp; @Translate.AddNew
      </a>
    </p>
  </div>
  <div class="row">
    <table class="table table-hover">
      <tr>
        <th>@Translate.Date</th>
        <th>@Translate.Title</th>
        <th>@Translate.Status</th>
        <th>@Translate.Tags</th>
      </tr>
      @Each.posts
        <tr>
          <td style="white-space:nowrap;">
            @Current.publishedDate<br />
            @Translate.at @Current.publishedTime
          </td>
          <td>
            @Current.post.title<br />
            <a href="/@Current.post.permalink">@Translate.View</a> &nbsp;|&nbsp;
            <a href="/post/@Current.post.id/edit">@Translate.Edit</a> &nbsp;|&nbsp;
            <a href="/post/@Current.post.id/delete">@Translate.Delete</a>
          </td>
          <td>@Current.post.status</td>
          <td>@Current.tags</td>
        </tr>
      @EndEach
    </table>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2">
      @If.hasNewer
        <p><a class="btn btn-default" href="@Model.newerLink">&#xab; &nbsp;@Translate.NewerPosts</a></p>
      @EndIf
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-right">
      @If.hasOlder
      <p><a class="btn btn-default" href="@Model.olderLink">@Translate.OlderPosts&nbsp; &#xbb;</a></p>
      @EndIf
    </div>
  </div>
@EndSection