@Master['admin/admin-layout']

@Section['Content']
  <div class="row">
    <p>
      <a class="btn btn-primary" href="/post/new/edit">
        <i class="fa fa-plus"></i> &nbsp; @Translate.AddNew
      </a>
    </p>
  </div>
  <div class="row">
    <table class="table table-hover">
      <tr>
        <th>@Translate.Date</th>
        <th>@Translate.Title</th>
        <th>@Translate.Status</th>
        <th>@Translate.Tags</th>
      </tr>
      @Each.Posts
        <tr>
          <td style="white-space:nowrap;">
            @Current.PublishedDate<br />
            @Translate.at @Current.PublishedTime
          </td>
          <td>
            @Current.Post.Title<br />
            <a href="/@Current.Post.Permalink">@Translate.View</a> &nbsp;|&nbsp;
            <a href="/post/@Current.Post.Id/edit">@Translate.Edit</a> &nbsp;|&nbsp;
            <a href="/post/@Current.Post.Id/delete">@Translate.Delete</a>
          </td>
          <td>@Current.Post.Status</td>
          <td>@Current.Tags</td>
        </tr>
      @EndEach
    </table>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2">
      @If.HasNewer
        <p><a class="btn btn-default" href="@Model.NewerLink">&#xab; &nbsp;@Translate.NewerPosts</a></p>
      @EndIf
    </div>
    <div class="col-xs-3 col-xs-offset-1 text-right">
      @If.HasOlder
      <p><a class="btn btn-default" href="@Model.OlderLink">@Translate.OlderPosts&nbsp; &#xbb;</a></p>
      @EndIf
    </div>
  </div>
@EndSection
