<h2 class="my-3">{{ page_title }}</h2>
<article>
  <a href="{{ "admin/category/new/edit" | relative_link }}" class="btn btn-primary btn-sm mb-3"
     hx-target="#cat_new">
    Add a New Category
  </a>
  {{ category_list }}
</article>
