<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page_title | strip_html }} &laquo; Admin &laquo; {{ web_log.name | strip_html }}</title>
  </head>
  <body>
    {% include_template "_layout" %}
  </body>
</html>
