<div class="col">
  <h5>{{ page_title }}</h5>
  <form action="{{ "admin/theme/new" | relative_link }}" method="post" class="container" enctype="multipart/form-data"
        hx-boost="false">
    <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
    <div class="row">
      <div class="col-12 col-sm-6 pb-3">
        <div class="form-floating">
          <input type="file" id="file" name="file" class="form-control" accept=".zip" placeholder="Theme File" required>
          <label for="file">Theme File</label>
        </div>
      </div>
      <div class="col-12 col-sm-6 pb-3 d-flex justify-content-center align-items-center">
        <div class="form-check form-switch pb-2">
          <input type="checkbox" name="DoOverwrite" id="doOverwrite" class="form-check-input" value="true">
          <label for="doOverwrite" class="form-check-label">Overwrite</label>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col text-center">
        <button type="submit" class="btn btn-sm btn-primary">Upload Theme</button>
        <button type="button" class="btn btn-sm btn-secondary ms-3"
                onclick="document.getElementById('theme_new').innerHTML = ''">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
