<h2>Upload a Theme</h2>
<article>
  <form action="{{ "admin/theme/update" | relative_link }}"
        method="post" class="container" enctype="multipart/form-data" hx-boost="false">
    <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
    <div class="row">
      <div class="col-12 col-sm-6 offset-sm-3 pb-3">
        <div class="form-floating">
          <input type="file" id="file" name="file" class="form-control" accept=".zip" placeholder="Theme File" required>
          <label for="file">Theme File</label>
        </div>
      </div>
      <div class="col-12 col-sm-6 pb-3">
        <div class="form-check form-switch pb-2">
          <input type="checkbox" name="clean" id="clean" class="form-check-input" value="true">
          <label for="clean" class="form-check-label">Delete Existing Theme Files</label>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Upload Theme</button>
      </div>
    </div>
  </form>
</article>
