<h2>{{ page_title }}</h2>
<article>
  <form action="{{ "admin/upload/save" | relative_link }}"
        method="post" class="container" enctype="multipart/form-data" hx-boost="false">
    <input type="hidden" name="{{ csrf.form_field_name }}" value="{{ csrf.request_token }}">
    <div class="row">
      <div class="col-12 col-md-6 pb-3">
        <div class="form-floating">
          <input type="file" id="file" name="File" class="form-control" placeholder="File" required>
          <label for="file">File to Upload</label>
        </div>
      </div>
      <div class="col-12 col-md-6 pb-3 d-flex align-self-center justify-content-around">
        Destination<br>
        <div class="btn-group" role="group" aria-label="Upload destination button group">
          <input type="radio" name="Destination" id="destination_db" class="btn-check" value="database"
          {%- if destination == "database" %} checked="checked"{% endif %}>
          <label class="btn btn-outline-primary" for="destination_db">Database</label>
          <input type="radio" name="Destination" id="destination_disk" class="btn-check" value="disk"
          {%- if destination == "disk" %} checked="checked"{% endif %}>
          <label class="btn btn-outline-secondary" for="destination_disk">Disk</label>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Upload File</button>
      </div>
    </div>
  </form>
</article>
