@inject IHttpContextAccessor ctxAcc
@{
    var details = WebLogCache.Get(ctxAcc.HttpContext!);
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta name="generator" content="myWebLog 2">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/@details.ThemePath/style.css">
  @await RenderSectionAsync("Style", false)
  <title>@ViewBag.Title &laquo; @details.Name</title>
</head>
<body>
  @if (IsSectionDefined("Header"))
  {
    @await RenderSectionAsync("Header")
  }
  else
  {
    @await Html.PartialAsync("_DefaultHeader")
  }
  <main>
    @RenderBody()
  </main>
  @if (IsSectionDefined("Footer"))
  {
    @await RenderSectionAsync("Footer")
  } else
  {
    @await Html.PartialAsync("_DefaultFooter")
  }
  @await RenderSectionAsync("Script", false)
</body>
</html>
