<header>
  <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-start px-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="~/">{{ web_log.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        {% if web_log.subtitle -%}
          <span class="navbar-text">{{ web_log.subtitle | escape }}</span>
        {%- endif %}
        @* TODO: list pages for current web log *@
        @await Html.PartialAsync("_LogOnOffPartial")
      </div>
    </div>
  </nav>
</header>
