html {
  background-color: lightgray;
}
body {
  margin: 0;
  font-family: "Raleway", "Segoe UI", Ubuntu, Tahoma, "DejaVu Sans", "Liberation Sans", Arial, sans-serif;
  background-color: #FFFAFA;
}
a {
  color: navy;
  text-decoration: none;
}
a:hover {
  border-bottom: dotted 1px navy;
}
a img {
  border: 0;
}
acronym {
  border-bottom: dotted 1px black;
}
header, h1, h2, h3, .footer-by a {
  font-family: "Oswald", "Segoe UI", Ubuntu, "DejaVu Sans", "Liberation Sans", Arial, sans-serif;
}
h1 {
  text-align: center;
  margin: 1.4rem 0;
  font-size: 2rem;
}
h2 {
  margin: 1.2rem 0;
}
h3 {
  margin: 1rem 0;
}
h2, h3 {
  border-bottom: solid 2px navy;
}
@media all and (min-width:40rem) {
  h2, h3 {
    width: 80%;
  }
}
p {
  margin: 1rem 0;
}
#content {
  margin: 0 1rem;
}
.content {
  font-size: 1.1rem;
}
.auto {
  margin: 0 auto;
}
@media all and (min-width: 68rem) {
  .content {
    width: 66rem;
  }
}
.hdr {
  font-size: 14pt;
  font-weight: bold;
}
.strike {
  text-decoration: line-through;
}
.alignleft {
  float: left;
  padding-right: 5px;
}
ul {
  padding-left: 40px;
}
li {
  list-style-type: disc;
}
.app-info {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
}
abbr[title] {
  text-decoration: none;
  border-bottom: dotted 1px rgba(0, 0, 0, .5)
}
/* Page header */
.site-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, lightgray, #FFFAFA);
}
.site-header a, .site-header a:visited {
  color: black;
}
.site-header a:hover {
  border-bottom: none;
}
.header-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.header-spacer {
  flex-grow: 3;
}
.header-social {
  padding: 25px .8rem 0 0;
}
.header-social img {
  width: 50px;
  height: 50px;
}
@media all and (max-width:40rem) {
  .site-header {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .header-title {
    line-height: 3rem;
  }
  .header-spacer {
    display: none;
  }
}
/* Home page */
@media all and (min-width: 80rem) {
  .home {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.home-lead {
  font-size: 1.3rem;
  text-align: center;
}
.app-sidebar {
  text-align: center;
  border-top: dotted 1px lightgray;
  padding-top: 1rem;
  font-size: .9rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.app-sidebar > div {
  width: 20rem;
  padding-bottom: 1rem;
}
@media all and (min-width: 68rem) {
  .app-sidebar {
    width: 66rem;
    margin: auto;
  }
}
@media all and (min-width: 80rem) {
  .app-sidebar {
    width: 12rem;
    border-top: none;
    border-left: dotted 1px lightgray;
    padding-top: 0;
    padding-left: 2rem;
    flex-direction: column;
  }
  .app-sidebar > div {
    width: auto;
  }
}
.app-sidebar a {
  font-size: 10pt;
  font-family: sans-serif;
}
.app-sidebar-head {
  font-family: "Oswald", "Segoe UI", Ubuntu, "DejaVu Sans", "Liberation Sans", Arial, sans-serif;
  font-weight: bold;
  color: maroon;
  margin-bottom: .8rem;
  padding: 3px 12px;
  border-bottom: solid 2px lightgray;
  font-size: 1rem;
}
.app-sidebar-name, .app-sidebar-description {
  margin: 0;
  padding: 0;
}
.app-sidebar-description {
  font-style: italic;
  color: #555555;
  padding-bottom: .6rem;
}
/* All solution page */
.app-name {
  font-family: "Oswald", "Segoe UI", Ubuntu, "DejaVu Sans", "Liberation Sans", Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: maroon;
}
/* Individual solution pages */
h1.solution-header {
  line-height: 1.6rem;
}
.app-info aside {
  float: right;
  background-color: #FFFAFA;
}
.app-info aside > span {
  padding-left: .75rem;
}
.app-info aside > img {
  overflow: hidden;
  border: dotted 1px darkgray;
  border-radius: 10px;
}
.tech-stack p {
  margin-bottom: 0;
}
.tech-stack ul {
  margin-top: 0;
}
blockquote {
  border-left: solid 1px darkgray;
  margin-left: 25px;
  padding-left: 15px;
}
.quote {
  font-style: italic;
}
.source {
  text-align: right;
  padding-right: 60px;
}
.app-info h3:hover {
  cursor: hand;
  cursor: pointer;
}
.app-info .arrow {
  font-size: .75rem;
  padding-left: 1rem;
}
/* Footer */
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
  font-size: 1rem;
  color: black;
  clear: both;
  background-image: linear-gradient(to bottom, #FFFAFA, lightgray);
}
footer a:link, footer a:visited {
  color: black;
}