<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FSharp.Interop.Dynamic" version="3.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="RethinkDb.Driver" version="2.3.9" targetFramework="net452" />
</packages>