@Master['admin/admin-layout']

@Section['Content']
  <div class="row">
    <div class="col-xs-4 text-center">
      <h3>@Translate.Posts &nbsp;<span class="badge">@Model.Posts</span></h3>
      <p>
        <a href="/posts/list"><i class="fa fa-list-ul"></i> @Translate.ListAll</a>
        &nbsp; &nbsp;
        <a href="/post/new/edit"><i class="fa fa-plus"></i> @Translate.AddNew</a>
      </p>
    </div>
    <div class="col-xs-4 text-center">
      <h3>@Translate.Pages &nbsp;<span class="badge">@Model.Pages</span></h3>
      <p>
        <a href="/pages"><i class="fa fa-list-ul"></i> @Translate.ListAll</a>
        &nbsp; &nbsp;
        <a href="/page/new/edit"><i class="fa fa-plus"></i> @Translate.AddNew</a>
      </p>
    </div>
    <div class="col-xs-4 text-center">
      <h3>@Translate.Categories &nbsp;<span class="badge">@Model.Categories</span></h3>
      <p>
        <a href="/categories"><i class="fa fa-list-ul"></i> @Translate.ListAll</a>
        &nbsp; &nbsp;
        <a href="/category/new/edit"><i class="fa fa-plus"></i> @Translate.AddNew</a>
      </p>
    </div>
  </div>
  <br />
@EndSection
