if session && 0 < (session.messages || []).length
  while 0 < session.messages.length
    - var message = session.messages.shift()
<div class="alert alert-dismissable alert-@Model.level" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="@Translate.Close">&times;</button>
  <strong>
    if 'danger' == message.type
    =__("Error").toUpperCase()
    | &nbsp;&#xbb;
    else if 'warning' == message.type
    =__("Warning").toUpperCase()
    | &nbsp;&#xbb;
    != message.text
  </strong>
  if message.detail
    br
    != message.detail
</div>