@model LogOnModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = @Resources.LogOn;
}
<article>
  <form asp-action="DoLogOn" asp-controller="User" method="post">
    <div class="container">
      <div class="row pb-3">
        <div class="col col-md-6 col-lg-4 offset-lg-2">
          <div class="form-floating">
            <input type="email" asp-for="EmailAddress" class="form-control" autofocus>
            <label asp-for="EmailAddress"></label>
          </div>
        </div>
        <div class="col col-md-6 col-lg-4">
          <div class="form-floating">
            <input type="password" asp-for="Password" class="form-control">
            <label asp-for="Password"></label>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary">@Resources.LogOn</button>
        </div>
      </div>
    </div>
  </form>
</article>
