@model SettingsModel
@{
    Layout = "_AdminLayout";
    ViewBag.Title = Resources.WebLogSettings;
}
<article class="pt-3">
  <form asp-action="SaveSettings" method="post">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4 offset-xl-2 pb-3">
          <div class="form-floating">
            <input type="text" asp-for="Name" class="form-control">
            <label asp-for="Name"></label>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 pb-3">
          <div class="form-floating">
            <input type="text" asp-for="Subtitle" class="form-control">
            <label asp-for="Subtitle"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 col-xl-2 offset-xl-2 pb-3">
          <div class="form-floating">
            <input type="number" asp-for="PostsPerPage" class="form-control" min="0" max="50">
            <label asp-for="PostsPerPage"></label>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3 pb-3">
          <div class="form-floating">
            <input type="text" asp-for="TimeZone" class="form-control">
            <label asp-for="TimeZone"></label>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-3 pb-3">
          <div class="form-floating">
            <select asp-for="DefaultPage" asp-items="Model.DefaultPages" class="form-control"></select>
            <label asp-for="DefaultPage"></label>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col text-center">
          <button type="submit" class="btn btn-primary">@Resources.SaveChanges</button>
        </div>
      </div>
    </div>
  </form>
</article>
