@using MyWebLog.Features.Pages
@model SinglePageModel
@{
    Layout = "_Layout";
    ViewBag.Title = Model.Page.Title;
}
<h2>@Model.Page.Title</h2>
<article>
    @Html.Raw(Model.Page.Text)
</article>
