@Master['admin/admin-layout']

@Section['Content']
  <form action="/category/@Model.Category.Id/edit" method="post">
    @AntiForgeryToken
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label class="control-label" for="Name">@Translate.Name</label>
          <input type="text" class="form-control" id="Name" name="Name" value="@Model.Form.Name" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
          <label class="control-label" for="Slug">@Translate.Slug</label>
          <input type="text" class="form-control" id="Slug" name="Slug" value="@Model.Form.Slug" />
        </div>
        <div class="form-group">
          <label class="control-label" for="Description">@Translate.Description</label>
          <textarea class="form-control" rows="4" id="Description" name="Description">@Model.Form.Description</textarea>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label class="control-label" for="ParentId">@Translate.ParentCategory</label>
          <select class="form-control" id="ParentId" name="ParentId">
            <option value="">&mdash; @Translate.NoParent &mdash;</option>
            @Each.Categories
              @Current.Option
            @EndEach
          </select>
        </div>
        <br />
        <p class="text-center">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-floppy-o"></i> @Translate.Save
          </button>
        </p>
      </div>
    </div>
  </form>
@EndSection

@Section['Scripts']
  <script type="text/javascript">
    /* <![CDATA[ */
    $(document).ready(function () { $("#Name").focus() })
    /* ]] */
  </script>
@EndSection
