@Each.messages
  @Current.toDisplay
@EndEach
@If.subTitle.IsSome
  <h2>
    <span class="label label-info">@Model.subTitle</span>
  </h2>
@EndIf
@Each.posts
  <div class="row">
    <div class="col-xs-12">
      <article>
        <h1>
          <a href="/@Current.post.permalink"
             title="@Translate.PermanentLinkTo &quot;@Current.post.title@quot;">@Current.post.title</a>
        </h1>
        <p>
          <i class="fa fa-calendar" title="@Translate.Date"></i> @Current.publishedDate &nbsp;
          <i class="fa fa-clock-o" title="@Translate.Time"></i> @Current.publishedTime
        </p>
        @Current.post.text
      </article>
      <hr />
    </div>
  </div>
@EndEach
<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    @If.hasNewer
      <p>
        <a class="btn btn-primary" href="@Model.newerLink">@Translate.NewerPosts</a>
      </p>
    @EndIf
  </div>
  <div class="col-xs-3 text-right">
    @If.hasOlder
      <p>
        <a class="btn btn-primary" href="@Model.olderLink">@Translate.OlderPosts</a>
      </p>
    @EndIf
  </div>
</div>