@If.subTitle.IsSome
  <h2>
    <span class="label label-info">@Model.subTitle</span>
  </h2>
@EndIf
@Each.posts
  <div class="row">
    <div class="col-xs-12">
      <article>
        <h1>
          <a href="/@Current.permalink" title="@Translate.PermanentLinkTo &quot;@Current.title@quot;">@Current.title</a>
        </h1>
        <!-- var pubDate = moment(post.publishedDate) -->
        <p>
          <i class="fa fa-calendar" title="@Translate.Date" /> &nbsp; @Current.publishedDate <!-- #{pubDate.format('MMMM Do, YYYY')} -->
          <i class="fa fa-clock-o" title="@Translate.Time" /> &nbsp; @Current.publishedTime <!-- #{pubDate.format('h:mma')} -->
        </p>
        @Current.text
      </article>
      <hr />
    </div>
  </div>
@EndEach
<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    @If.hasNewer
      <p>
        <a class="btn btn-primary" href="@Model.newerLink">@Translate.NewerPosts</a>
      </p>
    @EndIf
  </div>
  <div class="col-xs-3 text-right">
    @If.hasOlder
      <p>
        <a class="btn btn-primary" href="@Model.olderLink">@Translate.OlderPosts</a>
      </p>
    @EndIf
  </div>
</div>