<article>
  <div class="row">
    <div class="col-xs-12"><h1>@Model.Post.Title</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>
        <i class="fa fa-calendar" title="@Translate.Date"></i> @Model.PublishedDate &nbsp;
        <i class="fa fa-clock-o" title="@Translate.Time"></i> @Model.PublishedTime &nbsp;
        <i class="fa fa-comments-o" title="@Translate.Comments"></i> @Model.CommentCount &nbsp; &nbsp; &nbsp;
        @Each.Post.Categories
          <span style="white-space:nowrap;">
            <i class="fa fa-folder-open-o" title="@Translate.Category"></i>
            <a href="/category/@Current.Slug" title="@Translate.CategorizedUnder @Current.Name">@Current.Name</a>
            &nbsp; &nbsp;
          </span>
        @EndEach
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">@Model.Post.Text</div>
  </div>
  @If.HasTags
    <div class="row">
      <div class="col-xs-12">
        @Each.Tags
          <span style="white-space:nowrap;">
            <a href="/tag/@Current.Item2" title="@Translate.PostsTagged &quot;@Current.Item1&quot;">
              <i class="fa fa-tag"></i> @Current.Item1
            </a> &nbsp; &nbsp;
          </span>
        @EndEach
      </div>
    </div>
  @EndIf
</article>
<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>
<div class="row">
  <div class="col-xs-12">
    @Each.Comments
      @Partial['themes/default/comment', @Current]
    @EndEach
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><hr /></div>
</div>
<div class="row">
  <div class="col-xs-6">
    @If.HasNewer
      <a href="/@Model.NewerPost.Value.Permalink" title="@Translate.NextPost - &quot;@Model.NewerPost.Value.Title&quot;">
        &#xab;&nbsp; @Model.NewerPost.Value.Title
      </a>
    @EndIf
  </div>
  <div class="col-xs-6 text-right">
    @If.HasOlder
      <a href="/@Model.OlderPost.Value.Permalink"
         title="@Translate.PreviousPost - &quot;@Model.OlderPost.Value.Title&quot;">
        @Model.OlderPost.Value.Title &nbsp;&#xbb;
      </a>
    @EndIf
  </div>
</div>