<ul class="navbar-nav flex-grow-1 justify-content-end">
  @if (User is not null && (User.Identity?.IsAuthenticated ?? false))
  {
    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Admin">@Resources.Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" asp-action="LogOff" asp-controller="User">@Resources.LogOff</a></li>
  }
  else
  {
    <li class="nav-item"><a class="nav-link" asp-action="LogOn" asp-controller="User">@Resources.LogOn</a></li>
  }
</ul>
