@import url('https://fonts.googleapis.com/css?family=Quicksand|Federo|Istok+Web');
:root {
  --text-color: hsl(0, 0%, 10%);
  --accent-color: green;
  --link-color: green;
  --superscript-color: #707070;
  --bkg-color: lightgray;
  --heading-bkg-color: darkgray;
  --item-bkg-color: white;
  --title-text-color: white;
  --audio-bkg-color: hsla(0, 0%, 0%, .05);
  --audio-text-color: hsla(0, 0%, 0%, .5);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(0, 0%, 80%);
    --accent-color: hsl(120, 100%, 15%);
    --link-color: hsl(120, 100%, 34%);
    --superscript-color: hsl(0, 0%, 70%);
    --bkg-color: hsl(0, 0%, 20%);
    --heading-bkg-color: hsla(0, 0%, 100%, .2);
    --item-bkg-color: hsla(0, 0%, 7%);
    --audio-bkg-color: hsl(0, 0%, 10%);
    --audio-text-color: hsl(0, 0%, 50%);
  }
  blockquote {
    background-color: var(--bkg-color);
    background-image: linear-gradient(hsl(0, 0%, 85%), hsl(0, 0%, 85%)), url('../img/paper.png') repeat;
    background-blend-mode: soft-light;
    color: hsl(0, 0%, 95%);
  }
  blockquote.standard {
    background: unset;
    color: unset;
    border-top: none;
  }
  .ref {
    text-shadow: white 0 0 6px, white 0 0 6px, white 0 0 6px, white 0 0 6px;
  }
  .ref sup {
    text-shadow: none;
  }
  .index-title {
    text-shadow: white 0 0 6px, white 0 0 6px;
  }
}
html {
  background-color: var(--accent-color);
}
body {
  font-family: "Istok Web",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 1.1rem;
  margin: 0;
  color: var(--text-color);
  background-color: var(--bkg-color);
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.site-header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  margin-bottom: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--accent-color)), to(var(--bkg-color)));
  background-image: -webkit-linear-gradient(top, var(--accent-color), var(--bkg-color));
  background-image: -moz-linear-gradient(top, var(--accent-color), var(--bkg-color));
  background-image: linear-gradient(to bottom, var(--accent-color), var(--bkg-color));
}
.site-header a {
  color: var(--title-text-color);
}
.site-header p {
  padding-right: 2rem;
}
.site-title,
.index-title,
.item-heading,
.item-meta,
.post-meta,
.post-nav-title,
.page-footer a {
  font-family: Federo,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.site-title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: .3rem;
}
.site-title a {
  color: var(--title-text-color);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1400px;
  margin: auto;
}
@media all and (max-width:81rem) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
.index-title {
  color: black;
  text-align: center;
}
.content {
  max-width: 60rem;
  margin: 0;
}
.sidebar {
  min-width: 10rem;
  max-width: 20rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
@media all and (max-width:60rem) {
  .content {
    padding: 0 .4rem;
  }
}
@media all and (max-width:81rem) {
  .sidebar {
    width: 100%;
    max-width: 60rem;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  .sidebar .item {
    max-width: 12rem;
  }
}
.sidebar h4 {
  font-size: 1.2rem;
}
.sidebar ul {
  padding-left: 1rem;
  margin-bottom: .5rem;
}
.sidebar ul li {
  list-style-type: none;
  margin-bottom: .5rem;
}
.sidebar ul li ul > li {
  margin-top: .5rem;
}
.sidebar .item > ul {
  padding-left: 0;
}
.post-sidebar {
  margin-top: 4rem;
}
@media all and (max-width:81rem) {
  .post-sidebar {
    margin-top: 0;
  }
}
hr.sidebar-sep {
  margin: 0 -.4rem .5rem -.4rem;
  height: 1px;
  border: 0;
  color: var(--accent-color);
  background-color: var(--accent-color);
}
blockquote {
  margin: 1rem 2rem;
  /* from bible */
  padding: 11px;
  border: 0;
  background: var(--bkg-color) url('img/paper.png') repeat;
  font-family: Quicksand, serif;
  border-top: solid 1px black;
  display: flow-root;
  font-size: 1.2rem;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote p:nth-last-of-type(2) {
  margin-bottom: .5rem;
}
blockquote.standard p:nth-last-of-type(2) {
  margin-bottom: inherit;
}
blockquote.standard {
  margin: 1rem 2rem 1rem 1rem;
  border-left: solid 3px var(--accent-color);
  font-family: inherit;
}
blockquote cite {
  display: block;
  padding-right: 11px;
  text-align: right;
  background: var(--item-bkg-color) url('img/ribbon.png') no-repeat bottom left;
  color: var(--text-color);
  height: 28px;
  font-style: normal;
  position: relative;
  top: 5px;
  margin: 0 -11px -11px -12px;
}
blockquote cite::before {
  content: "— ";
}
.ref {
  color: red;
}
blockquote sup {
  color: var(--superscript-color);
  padding-right: .35rem;
}
.lord, .sc {
  font-variant: small-caps;
}
.u {
  text-decoration: underline;
}
blockquote.standard footer {
  padding-top: 1rem;
}
blockquote.standard footer cite {
  font-style: italic;
  background: unset;
  display: inline;
  text-align: left;
  height: unset;
  background: unset;
  position: unset;
  top: unset;
  margin: inherit;
}
cite {
  font-size: 1rem;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.nav-next {
  text-align: right;
}
.post-nav {
  font-size: .8rem;
  text-transform: uppercase;
}
footer.part-1 {
  height: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--bkg-color)), to(var(--accent-color)));
  background-image: -webkit-linear-gradient(top, var(--bkg-color), var(--accent-color));
  background-image: -moz-linear-gradient(top, var(--bkg-color), var(--accent-color));
  background-image: linear-gradient(to bottom, var(--bkg-color), var(--accent-color));
}
footer.page-footer {
  padding: 0 .5rem .5rem 0;
  text-align: right;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-size: 1rem;
}
footer.page-footer a:link,
footer.page-footer a:visited {
  color: var(--title-text-color);
}
small.count {
  padding-left: .35rem;
}
h1 {
  font-size: 2rem;
}
.item {
  border: solid 1px black;
  background-color: var(--item-bkg-color);
  padding: .4rem;
  margin-bottom: 1.2rem;
}
.item-heading {
  margin: -.4rem -.4rem .4rem -.4rem;
  border-bottom: solid 2px var(--link-color);
  padding-top: .4rem;
  padding-bottom: .2rem;
  text-align: center;
  background-color: var(--heading-bkg-color);
}
.item-heading,
.item-heading a {
  color: var(--title-text-color);
}
.item-meta {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  text-align: center;
}
.date-posted {
  padding: 0 1rem;
  text-align: center;
}
.text-center {
  text-align: center;
}
aside.podcast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--audio-bkg-color);
  border: solid 1px var(--accent-color);
  border-radius: .5rem;
  color: var(--audio-text-color);
  margin: 0 .5rem 1rem .5rem;
}
aside.podcast audio {
  width: 100%;
}
aside.podcast p {
  margin: 0 .5rem;
  white-space: nowrap;
}
a.dl:link,
a.dl:visited {
  color: var(--audio-text-color);
}
