@Each.Messages
  @Current.ToDisplay
@EndEach
@If.SubTitle.IsSome
  <h2>
    <span class="label label-info">@Model.SubTitle</span>
  </h2>
@EndIf
@Each.Posts
  <div class="row">
    <div class="col-xs-12">
      <article>
        <h1>
          <a href="/@Current.Post.Permalink"
             title="@Translate.PermanentLinkTo &quot;@Current.Post.Title&quot;">@Current.Post.Title</a>
        </h1>
        <p>
          <i class="fa fa-calendar" title="@Translate.Date"></i> @Current.PublishedDate &nbsp;
          <i class="fa fa-clock-o" title="@Translate.Time"></i> @Current.PublishedTime &nbsp;
          <i class="fa fa-comments-o" title="@Translate.Comments"></i> @Current.CommentCount
        </p>
        @Current.Post.Text
      </article>
      <hr />
    </div>
  </div>
@EndEach
<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    @If.HasNewer
      <p>
        <a class="btn btn-primary" href="@Model.NewerLink">@Translate.NewerPosts</a>
      </p>
    @EndIf
  </div>
  <div class="col-xs-3 text-right">
    @If.HasOlder
      <p>
        <a class="btn btn-primary" href="@Model.OlderLink">@Translate.OlderPosts</a>
      </p>
    @EndIf
  </div>
</div>