<article class="auto">
  <h1 class="entry-title">{{ page.title }}</h1>
  <div class="entry-content">{{ page.text }}</div>
  {%- if logged_on %}<p><small><a href="/page/{{ page.id }}/edit">Edit Page</a></small></p>{% endif %}
</article>